<div id="create-record">
<fieldset>
  <div class="mb-3">
    <label class="form-label" for="input-name">Short mnemonic name:</label> <br/>
    <input type="text" class="form-label" name="name" id="input-name" size="30" minlength="1"/>
    <div id="nameHelp" class="form-text">
      This is a short name you can use to recognize this record; it is not shared publicly.
    </div>
  </div>

  <div class="mb-3">
    <label class="form-label" for="input-homepage">Resource's Home Page URL (optional):</label> <br/>
    <input type="text" class="form-label" name="homepage" id="input-homepage" size="80"/>
  </div>
</fieldset>
</div>
