{% load static %}

<!DOCTYPE html>
<script lang="en">
<head>
  <title>CERR Editing: {{ recname }}</title>
  </script>
    {% block core_js %}
        <script src="{% static 'core_main_app/libs/jquery/3.5.1/jquery.js' %}"></script>
        <script src="{% static 'core_main_app/libs/jquery-ui/1.12.1/jquery-ui.js' %}"></script>
        <script src="{% static 'core_main_app/libs/popper-js/popper.min.js' %}"></script>
        <script src="{% static 'core_main_app/libs/bootstrap/4.5.2/js/bootstrap.min.js' %}"></script>
        <script src="{% static 'core_main_app/common/js/csrf.js' %}"></script>
        <script src="{% static 'core_main_app/common/js/leave_notice.js' %}"></script>
        <script src="{% static 'core_main_registry_app/libs/fancytree/skin-bootstrap/ui.fancytree.css' %}"></script>



    {% endblock %}
    {% block core_css %}
        <link rel="stylesheet" href="{% static 'core_main_app/libs/bootstrap/4.5.2/css/bootstrap.min.css' %}" />
        <link rel="stylesheet" href="{% static 'core_main_app/libs/font-awesome/5.13.0/css/all.min.css' %}" />
        <link rel="stylesheet" href="{% static 'core_main_app/libs/jquery-ui/1.12.1/jquery-ui.css' %}" />
        <link rel="stylesheet" href="{% static 'core_main_app/libs/jquery-ui/1.12.1/jquery-ui.structure.css' %}" />
        <link rel="stylesheet" href="{% static 'core_main_app/libs/jquery-ui/1.12.1/jquery-ui.theme.css' %}" />
        <link rel="stylesheet" href="{% static 'core_main_app/common/css/word-wrap.css' %}" />
        <link rel="stylesheet" href="{% static 'core_main_app/common/css/table.css' %}" />
        <link rel="stylesheet" href="{% static 'core_main_app/common/css/buttons.css' %}" />
        <link rel="stylesheet" href="{% static 'core_main_app/common/css/fields.css' %}" />
        <link rel="stylesheet" href="{% static 'core_explore_keyword_registry_app/user/css/fancytree/fancytree.custom.css' %}" />



    {% endblock %}

</head>
<body id="content">
<h1>Edit Record: {{ recname }}</h1>

<form action="{% url 'edit' draft_id %}" method="post">
{% csrf_token %}
  {{ editform }}
  <div style="margin-top: 2ex">
  <input type="submit" class="btn btn-success" value="Save draft"/>
  </div>
</form>
</body>
